    .welcome {
        margin: 40px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2.5em;
        color: rgb(26, 29, 182)
    }
    
    .asideInfo {
        margin: 0px;
        padding: 1px;
        border: 1px solid #111;
        width: 245px;
        height: 100px;
        position: relative;
        bottom: 5px;
        font-size: 0.8rem;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
    }
    
    .scents {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1rem;
        font-weight: 300;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255)
    }
    
    .container {
        background: url(../pages/awesome.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
        padding: 2px;
    }
    
    .products {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .contactUsBg {
        background: url(../pages/happyhalloween.jpg);
        background-size: cover;
        height: 685px;
    }
    
    .contactUs {
        margin: 30px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2.5em;
        color: rgb(26, 29, 182)
    }
    
    .email {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2.5em;
        color: rgb(26, 29, 182)
    }
    
    .productsBg {
        background: url(../pages/awesome.jpg);
        background-size: cover;
        height: 100%;
    }
    
    .products {
        margin: 50px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2.5em;
        color: rgb(26, 29, 182)
    }
    /*//////////////////////////////////////////////////////////////////*/